<div class="main-container container">
    <div class="container class-dropdown">
        <div class="dropdown">
            <button class="btn btn-major dropdown-toggle rounded-pill rounded-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">a</a></li>
                <li><a class="dropdown-item" href="#">b</a></li>
            </ul>
        </div>
    </div>
    <div class="container money-display d-flex flex-column justify-content-center align-items-center">
        <h6 class="text-body-secondary">總消費</h2>
        <div class="main-money-container d-flex">
            <h5 class="text-body-secondary main-dollar-sign">$</h3>
            <h1 class="number main-number py-0">2000</h1>
        </div>
    </div>
    <div class="container entries-display">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Default</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </table>
    </div>
</div>