<div class="main-container container">
        <div class="container class-dropdown d-flex justify-content-between align-items-center">
            <div class="dropdown">
                <button class="btn btn-major dropdown-toggle rounded-pill rounded-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    category
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-dollar-to-slot"></i>  全部</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-house"></i> 家居物業</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-van-shuttle"></i> 交通出行</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-face-grin-beam"></i> 休閒娛樂</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-utensils"></i> 餐飲食品</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen"></i> 其他</a></li>
                </ul>
            </div>
            <a href="/entries/new" class="new-btn btn btn-outline-primary btn-sm rounded-circle">+</a>
        </div>
        <div class="container money-display d-flex flex-column justify-content-center align-items-center">
            <h6 class="text-body-secondary">總消費</h2>
            <div class="main-money-container d-flex">
                <h5 class="text-body-secondary main-dollar-sign">$</h3>
                <h1 class="number main-number py-0">2000</h1>
            </div>
        </div>
    <div class="container entries-display">
        <div class="table-wrapper table-responsive">
            <table class="table table-hover table-sm align-middle">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-body-secondary">Today:</th>
                    <th scope="col" class="text-body-secondary">$<spam class="number">2000</spam></th>
                    <th scope="col" class="text-body-secondary"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each repeat}}
                    <tr>
                        <th scope="row"><i class="fa-solid fa-house"></i></th>
                        <td>
                            <div>
                                <h5 class="m-0 p-0">早餐</h5>
                                <p class="m-0 p-0 create-time">2023/6/7</p>
                            </div>
                        </td>
                        <td>$<spam class="number">2000</spam></td>
                        <td>
                                <form action="/entries/this._id?_method=DELETE" method="post" class="d-flex flex-row align-items-end justify-content-end flex-wrap ">
                                    <a href="/entries/this._id/edit" class="btn btn-link btn-sm m-0 p-0 pe-2 link-underline link-underline-opacity-0">edit</a>
                                    <button type="submit" class="btn btn-link btn-sm m-0 p-0 link-underline link-underline-opacity-0">delete</button>
                                </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>